VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=
VITE_STRIPE_PUBLIC_KEY=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
RESEND_API_KEY=
CRON_SECRET=
APP_URL=https://drazbe.eu
EMAIL_FROM=dražbenik.si <obvestila@drazbenik.si>
SUPABASE_SERVICE_ROLE_KEY=

# Za polepšanje slik kopirajte svoj Gemini API ključ tukaj (ključ pridobite na https://aistudio.google.com/app/apikey)
VITE_GEMINI_API_KEY=
VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=
VITE_FIREBASE_PROJECT_ID=
VITE_FIREBASE_STORAGE_BUCKET=
VITE_FIREBASE_MESSAGING_SENDER_ID=
VITE_FIREBASE_APP_ID=
